<div class="container bg">
    <img class="img" src="assets/images/icon.PNG" alt="">
    <div class="row">
        <!-- <img class="img" src="assets/images/icon.PNG" alt=""> -->
        <div class="col-md-3">
            <h5 class="font"><b>About Apollo 24/7 :</b></h5>
            <ul class="list">
                <li><a class="font" href="#">About Us</a></li>
                <li><a class="font" href="#">Contact Us</a></li>
                <li><a class="font" href="#">FAQs</a></li>
                <li><a class="font" href="#">Terms & Conditions</a></li>
                <li><a class="font" href="#">Return Policy</a></li>
                <li><a class="font" href="#">Privacy Policy</a></li>
                <li><a class="font" href="#">Online Doctor App</a></li>
                <li><a class="font" href="#">Online Medicine App</a></li>
                <li><a class="font" href="#">Apollo Pharmacy</a></li>
                <li><a class="font" href="#">Sitemap</a></li>
                <li><a class="font" href="#">Android App</a></li>
                <li><a class="font" href="#">IOS App</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="font"><b>Services :</b></h5>
            <ul class="list">
                <li><a class="font" href="#">Online Doctor Consultation</a></li>
                <li><a class="font" href="#">Online Medicines</a></li>
                <li><a class="font" href="#">Projrct Kavach</a></li>
                <li><a class="font" href="#">Cough Scanner</a></li>
                <li><a class="font" href="#">Covid Vaccine Tracker</a></li>
                <li><a class="font" href="#">Covid Vaccine Update</a></li>
                <li><a class="font" href="#">Apollo Pro Heakth Program</a></li>
                <li><a class="font" href="#">Post Covid Care Clinic</a></li>
                <li><a class="font" href="#">Doctors By Specility</a></li>
                <li><a class="font" href="#">Doctors by City</a></li>
                <li><a class="font" href="#">All Doctors List</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="font"><b>Top Specilities :</b></h5>
            <ul class="list">
                <li><a class="font" href="#">Consult Physicians</a></li>
                <li><a class="font" href="#">Consult Dermatologists</a></li>
                <li><a class="font" href="#">Consult pediatricians</a></li>
                <li><a class="font" href="#">Consult Gynaecologists</a></li>
                <li><a class="font" href="#">Consult Gastroenterologists</a></li>
                <li><a class="font" href="#">Consult Cardiologists</a></li>
                <li><a class="font" href="#">Consult Dieticians</a></li>
                <li><a class="font" href="#">Consult ENT Specialist</a></li>
                <li><a class="font" href="#">Consult Griatricians</a></li>
                <li><a class="font" href="#">Consult Diabetologists</a></li>
            </ul>

        </div>
        <div class="col-md-3">
            <h5 class="font"><b>Product Categories :</b></h5>
            <ul class="list">
                <li><a class="font" href="#">View All Brands</a></li>
                <li><a class="font" href="#">Health Care</a></li>
                <li><a class="font" href="#">Personal Care</a></li>
                <li><a class="font" href="#">Baby Care</a></li>
                <li><a class="font" href="#">Nutrition</a></li>
                <li><a class="font" href="#">Healthcare Devices</a></li>
                <li><a class="font" href="#">Beauty Skin Care</a></li>
                <li><a class="font" href="#">Immunity Boosters</a></li>
                <li><a class="font" href="#">Corona Virus Prevention</a></li>
                <li><a class="font" href="#">Diabeties Care</a></li>
                <li><a class="font" href="#">Patanjali8 Coronil Kit</a></li>
                <li><a class="font" href="#">Mamaearth Products</a></li>
            </ul>
        </div>
    </div>
</div>