<div class="container">
    <div class="bg">
        <h1><b>HEALTH ARTICLES & RESOURCES</b></h1>
        <p>Make better health choices with our curated blogs, videos and expert advice.</p>
    </div>
    <div>
        <h5 class="font"><b>HEALTH BLOG</b></h5>
        <p class="p">Explore healthcare content created every day by our experts.</p>
        <p style="text-align: right;"><button class="button font1"><i style='font-size:24px' class='far'>&#xf27a;</i><span style="text-align: center;">Read The Latest Article</span></button>
        </p>
    </div><hr>
    <div>
        <h5 class="font">You Can Also</h5>
        <button class="button font1"><i style='font-size:24px' class='fas'>&#xf7f2;</i>ApolloPro Health</button>&nbsp;&nbsp;&nbsp;
        <button class="button font1"><i style='font-size:24px' class='fas'>&#xf5dc;</i>Take a Mental Health Scan</button>&nbsp;&nbsp;&nbsp;
        <button class="button font1"><i style='font-size:24px' class='fas'>&#xf0fe;</i>Explore Healthy Life</button>&nbsp;&nbsp;&nbsp;
        <button class="button font1"><i style='font-size:24px' class='fas'>&#xf3ed;</i>Explore The Apollo Kavach Program</button>

    </div>
    <hr>
</div>