<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/images/icon.PNG" alt="">
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#"><span
                            style="border-bottom: 1px solid black; text-align: center">Doctors</span><br>Consult<br>Online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span
                            style="border-bottom: 1px solid black; text-align: center">Pharmacy</span><br>Medicines
                        &<br>Other Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span style="border-bottom: 1px solid black; text-align: center">Lab
                            Tests</span><br>Health<br>Checkups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span
                            style="border-bottom: 1px solid black; text-align: center">Covid-19</span><br>Latest<br>
                        Updates</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <a class="login" href="#" > <i class='fas '>&#xf2bd;</i></a>
            </form>
        </div>
    </nav>
</div>