<div class="container">
    <div class="row">
        <div class="col-md-4"><br>
            <h2 class="color"><b>Hello There!</b></h2>
            <p class="p"><b>Always caring about your health, we are here <br>to help you!</b></p><br>
            <button class="button"><img src="assets/images/booking.PNG" alt=""></button>
            <button class="button"><img src="assets/images/buy.PNG" alt=""></button>
            <button class="button"><img src="assets/images/health.PNG" alt=""></button>
            <button class="button"><img src="assets/images/lab.PNG" alt=""></button>
        </div>
        <div class="col-md-8">
            <img class="img" src="assets/images/doctors.PNG" alt="">
        </div>
    </div>
    <hr>
</div>