<div class="container">
    <h5 class="h5"><b>For COVID-19 Vaccination related queries</b></h5>
    <button class="button font"><i style='font-size:24px' class='fas'>&#xf879;</i>Vaccination
        Queries</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button font"><i style='font-size:24px' class='fas'>&#xf086;</i>Chat With
        Us</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button font"><i style='font-size:24px' class='far'>&#xf27a;</i>FAQs And
        Articles</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="button font"><i style='font-size:24px' class='fas'>&#xf48e;</i>Vaccine Tracker</button>
    <hr>

</div>